:root {
    --dark-gray: #464646;
    --gray: #3c3c3c;
    --white-gray: #eeeeee;
    --dark-red: #780a0a;
}
a:hover,a:active {outline: 0;}
* {padding: 0;margin: 0;border: 0;box-sizing: border-box;}

body {
    direction: rtl;
    color: black;
    text-align: right;
    font-family: iransans , sans-serif;
}
@font-face{font-family:'iransans';
    src:url('fonts/IRANSansWeb.ttf') format('truetype'), url('fonts/IRANSansWeb.woff') format('woff');}
/*start header*/
.head {
    width: 100%;
    height: 20vh;
}
.social-medias {
    width: 100%;
    height: 50%;
    background-color: var(--white-gray);
    display: flex;
    box-shadow: 0 0 0 2px black;
    position: relative;
    transition: 2s;
}
.social-medias-child {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}
.social-medias .medias ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.social-medias .medias ul li {
    font-size: 1.8em;
    padding:  4px;
}
.social-medias .medias ul li a {
    color: #e39595;
    transition: 0.3s;
}
.social-medias .medias ul li a:hover {
    color: #f84040;
}
.social-medias .logo {
    font-size: 150%;
    font-family: Calibri , sans-serif;
    color: #e39595;
    transition: 2s;
}
.head:hover .logo {
    color: #f84040;
}
.search-box {
    width: 65%;
    height: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}
.search-box i {
    background-color: #e29494;
    padding: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.search-box i:hover {
    background-color: #f84040;
}
.search-box input {
    width: 100%;
    height: 100%;
}
.top-nav-bar {
    width: 100%;
    height: 50%;
    background-color: var(--dark-gray);
    display: flex;
}
.top-nav-bar .tnb-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.top-nav-bar .main-navigation {
    width: 75%;
    height: 100%;
}
.top-nav-bar .main-navigation ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    align-items: center;
}
.top-nav-bar .main-navigation ul li {
    margin-left: 13px;
}
.top-nav-bar .main-navigation ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 0.9em;
    font-weight: 500;
    position: relative;
    padding: 20px 0;
}
.top-nav-bar .main-navigation ul li a:hover {
    color: white;
}
.top-nav-bar .languages {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.top-nav-bar .languages .page-lang {
    padding: 7px;
}
.top-nav-bar .languages .page-lang a {
    text-decoration: none;
    font-size: 0.9em;
    color: #ccc;
}
.top-nav-bar .languages .page-lang a:hover {
    color: white;
}
.top-nav-bar .languages .page-lang-icon {
    height: 65px;
    display: flex;
    align-items: center;
}
.top-nav-bar .languages .page-lang-icon i {
    color: silver;
    font-size: 2em;
    padding: 0 20px;
}
/*end header*/

/*start slider*/
.box-slider {
    width: 100%;
    height: 80vh;
    position: relative;
    direction: ltr;
    box-shadow: 0 0 0 1px black;
}
.list {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.2);
}
.mini-pic {
    width: 50px;
    height: 50px;
    opacity: 0.3;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.mini-pic:focus {
    width: 65px;
    height: 65px;
    border-radius: 25%;
    box-shadow: 0 1px 3px black;
    opacity: 1;
}
.content-container {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    overflow: hidden;
}
.slider-pic {
    height: 100%;
    width: 55%;
    float: right;
    position: relative;
    right: -100%;
    box-shadow: 0 0 0 1px black;
    transition: 1s ease-in-out;
}
.slider-text
{
    width: 55%;
    float: left;
    position: absolute;
    left: -100%;
    transition: 1.2s ease;
    top: 50%;
    transform: translate(0 , -50%);
    background-color: white;
    box-shadow: 0 0 2px 0 #000000;
}
.mini-img {
    width: 100%;
    height: 100%;
}
.big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.slider-text h2 {
    text-align: center;
    color: #353535;
    padding: 20px;
    font-size: 1.5em;
    font-family: calibri,iransans,sans-serif;
}
.slider-text p {
    padding: 0 60px;
    text-align: justify;
    color: #535353;
    line-height: 30px;
    direction: rtl;
    margin-bottom: 30px;
    font-size: 0.9em;
}
.mini-pic:focus .content-container {
    visibility: visible;
    opacity: 1;
}
.mini-pic:focus .slider-text {
    left: 1%;
}
.mini-pic:focus .slider-pic {
    right: 0;
}
/*end slider*/

/*start cards*/
.cards {
    background-color: var(--dark-gray);
    overflow: hidden;
    width: 100%;
    height: 121.5vh;
}
.content-container-cards {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 20% 60% 20%;
    width: 1310px;
    margin: 0 auto;
    box-shadow: -4px 0 5px 6px #262626;
}
.child-cards-r {
    background-color: var(--white-gray);
}
.child-cards-r ul {
    height: 100%;
    width: 100%;
}
.child-cards-r ul li {
    height: 22%;
    margin: 10px;
    list-style: none;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 3px 1px #3e3e3e;
}
.child-cards-r ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.child-cards-r ul li a img {
    width: 100%;
    height: 100%;
}
.cards-text {
    position: absolute;
    bottom: -70%;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    text-align: center;
}
.child-cards-r ul li:hover .cards-text {
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.cards-text h3 {
    line-height: 55px;
    color: white;
}
.child-cards-r ul li:hover .cards-text p {
    opacity: 1;
}
#child-cards-r-first {
    margin-top: 5px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri,sans-serif;
    font-size: 1.5em;
    border: 0;
    box-shadow: 0 0 0 0 black;
}
.child-cards-m ul {
    background-color: var(--white-gray);
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    list-style: none;
}
.child-cards-m ul li {
    border: 1px solid #c6c6c6;
    background: white;
    box-shadow: 0 0 5px 0 #aaa;
}
.child-cards-m ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.child-cards-m ul li a img {
    width: 124px;
    height: 124px;
    margin: 4px auto 0;
    display: block;
    transition: 0.6s ease;
    filter: blur(0.5px);
    opacity: 0.7;
}
.child-cards-m ul li a:hover img {
    opacity: 1;
    filter: blur(0);
}
.child-cards-m ul li a:hover p {
    color: black;
}
.child-cards-m ul li .main-cards-text {
    width: 90%;
    height: 45%;
    margin: 5px auto;
}
.child-cards-m ul li .main-cards-text p {
    width: 100%;
    height: 100%;
    color: var(--dark-gray);
    text-align: center;
    margin-top: 25px;
    font-size: 0.9em;
}
.child-cards-l {
    background-color: var(--white-gray);
}
.child-cards-l ul {
    height: 100%;
    width: 100%;
}
.child-cards-l ul li {
    height: 22%;
    margin: 10px;
    list-style: none;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 3px 1px #3e3e3e;
}
.child-cards-l ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.child-cards-l ul li a img {
    width: 100%;
    height: 100%;
}

.child-cards-l ul li:hover .cards-text {
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.cards-text p {
    padding: 0 15px;
    text-align: center;
    color: #cacaca;
    opacity: 0;
    transition: 1s;
    font-size: 0.85em;
}
.child-cards-l ul li:hover .cards-text p {
    opacity: 1;
}
#child-cards-l-first {
    margin-top: 5px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri,sans-serif;
    font-size: 1.5em;
    border: 0;
    box-shadow: 0 0 0 0 black;
}
/*end cards*/

/*start video*/
.videos {
    background-color: var(--dark-red);
    overflow: hidden;
    width: 100%;
    height: 90vh;
}
.content-container-videos {
    height: 99.7%;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 20% 60% 20%;
    width: 1310px;
    margin: 0.7px auto;
    padding: 0.5px 0;
    box-shadow: -4px 0 5px 6px #262626;
}
.child-videos-r {
    background-color: #ffc4c4;
}
.child-videos-r ul {
    height: 100%;
    width: 100%;
}
.child-videos-r ul li {
    height: 27.5%;
    margin: 10px;
    list-style: none;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 3px 1px #3e3e3e;
}
.child-videos-r ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.child-videos-r ul li a img {
    width: 100%;
    height: 100%;
}
.child-videos-r ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 75px;
    transform: translate(-50% , -50%);
    color: rgba(255,255,255,0.6);
    transition: 1s;
}
.child-videos-r ul li:hover i {
    transform: scale(11);
    color: rgba(255,255,255,0.9);
}
.child-videos-r ul li h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #222222;
    visibility: hidden;
    opacity: 0;
    width: 90%;
}
.child-videos-r ul li:hover h4 {
    opacity: 1;
    visibility: visible;
    transition: 1s ease 0.3s;
}
#child-videos-r-first {
    margin-top: 5px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri,sans-serif;
    font-size: 1.5em;
    border: 0;
    box-shadow: 0 0 0 0 black;
}
.child-videos-m .child-videos-m-container {
    background-color: #ffc4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    list-style: none;
}
.child-videos-m .child-videos-m-container .videos-m-content-box {
    border: 1px solid #c6c6c6;
    background: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.videos-m-content-box video {
    margin-top: 50px;
    box-shadow: -1px 0 4px 0 black;
    border: 5px double white;
}
.child-videos-l {
    background-color: #ffc4c4;
}
.child-videos-l ul {
    height: 100%;
    width: 100%;
}
.child-videos-l ul li {
    height: 27.5%;
    margin: 10px;
    list-style: none;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 0 0 3px 1px #3e3e3e;
}
.child-videos-l ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.child-videos-l ul li a img {
    width: 100%;
    height: 100%;
}
.child-videos-l ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 75px;
    transform: translate(-50% , -50%);
    color: rgba(255,255,255,0.6);
    transition: 1s;
}
.child-videos-l ul li:hover i {
    transform: scale(11);
    color: rgba(255,255,255,0.9);
}
.child-videos-l ul li h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    color: #222222;
    visibility: hidden;
    opacity: 0;
    width: 90%;
}
.child-videos-l ul li:hover h4 {
    opacity: 1;
    visibility: visible;
    transition: 1s ease 0.3s;
}
#child-videos-l-first {
    margin-top: 5px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri,sans-serif;
    font-size: 1.5em;
    border: 0;
    box-shadow: 0 0 0 0 black;
}
/*end video*/

/*start footer*/
.box-footer {
    height: 50vh;
    width: 100%;
    background-color: #1f1f1f;
    background-image: url("imgs/bg/crissxcross.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
/*end footer*/
